# ============================================================
# TELEGRAM
# ============================================================

BOT_TOKEN=123456789:REEMPLAZAR
ALLOWED_USERS=123456789

# ============================================================
# TELETHON
# ============================================================

API_ID=12345678
API_HASH=REEMPLAZAR

# Máximo de descargas simultáneas
TG_MAX_PARALLEL=3

# Timeout por descarga, en segundos
TG_DL_TIMEOUT=3600

# Mostrar/procesar progreso de descarga
TG_PROGRESS_DOWNLOAD=True

# Actualizar el mensaje visible de progreso cada N segundos
TG_PROGRESS_INTERVAL=30


# ============================================================
# RUTAS DEL HOST / NAS
# ============================================================
#
# Estas rutas son las rutas que EXISTEN FUERA del contenedor.
# Dentro de Docker se convierten automáticamente en:
# /data/Peliculas
# /data/Series
# /data/3D
#
# EJEMPLOS LINUX:
# MOVIES_HOST_PATH=/mnt/nas/Peliculas
#
# EJEMPLO NAS/SYNLOGY:
# MOVIES_HOST_PATH=/volume1/Media/Peliculas
#
# EJEMPLO WINDOWS + DOCKER DESKTOP:
# MOVIES_HOST_PATH=C:/NAS/Peliculas

MOVIES_HOST_PATH=/ruta/nas/Peliculas
SERIES_HOST_PATH=/ruta/nas/Series
THREED_HOST_PATH=/ruta/nas/3D

# Temporales del bot
TEMP_HOST_PATH=./data/temp

# Sesión persistente de Telethon
SESSION_HOST_PATH=./data/session
